VPN_ENABLE=1
VPN_SERVER='YOUR VPN SERVER IP OR FQDN'
VPN_PSK='my pre shared key'
VPN_USERNAME='myuser@myhost.com'
VPN_PASSWORD='mypass'
SCOKS5_ENABLE=0
SCOKS5_PORT=1080
SCOKS5_FORKS=2
SCOKS5_START_DELAY=10
DELUGED_USER=myuser
DELUGED_PASS=mypass
DELUGED_PORT=58846
DELUGE_WEB_PORT=8112
DELUGE_CONFIG=/some/path/deluge
DELUGE_DOWNLOAD=/some/path/downloads
GUI_ENABLE=0